<mat-sidenav-container class="full-height" autosize="true">
    <mat-sidenav mode="side" opened>
        
        <div mat-menu-item (click)="toggleSidebar()" class="with-icon padded">
            <mat-icon matTooltip="toggle side menu">menu</mat-icon>&nbsp;
        </div>

        <div mat-menu-item class="with-icon padded" (click)="$event.stopPropagation()" [routerLink]="'home'">
            <mat-icon [matTooltip]="'Home'">home</mat-icon>&nbsp;
            <span [hidden]="collapse">Home</span>
        </div>

        <div mat-menu-item class="with-icon padded" (click)="$event.stopPropagation()" [routerLink]="'privacy'">
            <mat-icon [matTooltip]="'Privacy Statement'">security</mat-icon>&nbsp;
            <span [hidden]="collapse">Privacy Statement</span>
        </div>

        <div mat-menu-item class="with-icon padded" (click)="$event.stopPropagation()" [routerLink]="'disclaimer'">
            <mat-icon [matTooltip]="'Legal Disclaimer'">warning</mat-icon>&nbsp;
            <span [hidden]="collapse">Legal Disclaimer</span>
        </div>
    </mat-sidenav>

    <mat-sidenav-content class="padded">
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>