<h1>Data privacy statement</h1>
<p>
    <i>This statement exlpains how personal data is collected and used throughout the use of our products.</i>
</p>
<p>
    Except of the data that you as a user provides, no additional personal information is gathered during the use of our products. <br />
    This data may reveal the personal financial situation of you. 
</p>
<p>
    Information that you provide, e.g. by creating and storing transactions or accounts, is stored locally inside the app. <br />
    After uninstalling the app, all stored information is lost. Data is always kept offline and won't be used by us outside the context of our products.<br />
    Additionally, you can delete your data at any time with the provided in-app options.
</p>
<p>
    You as a user can export your data outside the app context into a separate file. <br />
    This file is not protected by us. Anyone with access to this file may also gain access to your stored app contents. 
</p>