<mat-card class="padded-card">
  <mat-card-content>
    <div>Your personal open-source and offline finance tracker.</div>

    <div id="home-content">
      <a
        href="https://play.google.com/store/apps/details?id=de.budgetiser.budgetiser"
        target="_blank"
        ><img
          alt="Get it on Google Play"
          src="https://play.google.com/intl/en_us/badges/images/generic/en-play-badge.png"
          height="60px"
      /></a>
    </div>

    <app-gallery />
  </mat-card-content>
</mat-card>
