<h1>Legal Disclaimer</h1>
<p>
    Information contained on this website or products associated with Budgetiser is given without warranty of any kind. <br />
    We do not accept responsibility or liability for the accuracy, content, completeness, legality, or reliabilty of the information contained in our products.
</p>
<p>
    We shall not be liable for any loss or harm of whatever nature (direct, indirect, consequential, or other) that may arise during the use or misuse of our products or during the use of mentioned third-party content.
</p>
<p>
    We cannot and will not guarantee that this website or our app is free from computer viruses or anything else that has destructive properties. <br />
    This website contains links to third-party managed websites. Content of these sites is not within our control and we cannot and will not take responsibility for their provided content, features, information and so on. 
</p>
<p>
    Mentioned third-party websites or products are not part of any kind of endorsment. <br />
    Further, we cannot guarantee that such sites, products or else are free of harmful or destructive content such as compiter viruses.
</p>